/* shared style */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.color-one {
    color: #E95A08;
}

.color-two {
    color: #000000;
}

.color-three {
    color: #8987A1;
}

/* header style */

/* nav style */
.navbar,
.banner {
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 1140px;

}

.cart {
    align-items: center;
}

.link {
    text-decoration: none;

}

.item {
    list-style: none;

}

.menu {
    gap: 1.2rem;
}

/* section banner */
.banner-title {
    font-size: 4.06rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.banner-para {
    font-size: 1.38rem;
    font-weight: 400;

}

.banner-part-1 {
    max-width: 35.625rem;
    max-height: 299px;
}

.banner-bg {
    max-width: 570px;
    height: 355px;
}

.banner-img {
    width: 100%;
}

.banner {
    margin-bottom: 150px;
}

/* section our plants */
.our-plants{
    margin-top: 8.125rem;
    margin-bottom: 8.125rem;
}
.plants-card {
    margin: 0 150px;
}

.plants-title {
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.plants-para {
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
    padding: 0 126px;
}

.plants {
    max-width: 1140px;
    margin: 0 auto;

}

/* section card */
.card {
    max-width: 270px;
    height: 485px;
    text-align: center;

}

.card-title,
.price {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 0;
}

.img-of-card {

    width: 270px;
    margin-bottom: 30px;
}

.img-body {
    max-width: 270px;
    height: 132px;
}

.price {
    font-weight: bold;
    margin-bottom: 30px;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 0.82rem 5.11rem;
    border: none;
    white-space: nowrap;
    margin-bottom: 30px;



}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
/* section flower and plant lovers */

.flower-plant-lovers{
    margin-top: 8.13rem;
    margin-bottom: 8.13rem;
    margin-left: 150px;
    margin-right: 150px;
    align-items: normal;
}
.img-flowers{
    width: 100%;
}  
.store-flower-img{
    max-width: 540px;
    height: 37.32rem;
   
}
/* .badge{
    margin-top:0 ;
    margin-right:770px;
    margin-bottom:;
} */
.lovers-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.des-list{
    font-size: 1.38rem;
}
.info-for-lovers{
    padding: 38px 0px 38px 60px;
}
.deal-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.deal-para{
    font-size: 1.38rem;
    font-weight: 400;
}
.deals{
    text-align: center;
}
.Latest-Deals{
    margin: 0 150px;
}

.deal-items{
background-size: cover;
background-position: center;
max-width: 367px;
height: 200px;
position: relative;
border-radius: 14px;
color: white;
display: flex;
align-items: flex-end;
}
/* last section */
.email{
    padding: 10px 500px 10px 10px;
    border: none;
}
.join-title{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
   

    

}
.join-info{
    text-align: center;
}
.join-bunch{


    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 22rem;
    padding-top: 150px;
    margin-top: 150px;
   
} 
/* .background-bunch{
    background-image: url(../assets/news-letter-bg.png);
    width: 100%;
    background-repeat: no-repeat;
} */
 /* footer section */
 .flower-shop-para{
    font-size: 22px;
    font-weight: 400;
   
 }
 .last{
 justify-content: space-around;
 padding: 50px 160px;
 }
 .shop{
    max-width: 359px;
    height: 81px;
    
 }
 .shop-logos{
    gap: 20px;
 }
 .shop-info, .shop-info-2{
    list-style: none;
 }

/*responsive media query  */
@media screen and (max-width:576px) {

    .navbar,
    .menu {
        flex-direction: row;
    }

    .hide {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;

        margin-bottom: 24px;
    }
    .banner-para{
        margin-bottom: 20px;
        text-wrap-style: wrap;
    }
    
    .plants-card{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .plants-card{
        margin: 0;
    }
    .flower-plant-lovers{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

}